.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;

}  

.bg-black{ 
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}


/* WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 10px; /* Width of vertical scrollbar */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #313131; /* Color of the track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4b4949; /* Color of the handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3d3c3c; /* Color of handle on hover */
  }
  